---
const caseStudies = [
  { title: "Case Study 1", description: "Description of case study 1", link: "/case-studies/1" },
  { title: "Case Study 2", description: "Description of case study 2", link: "/case-studies/2" },
  { title: "Case Study 3", description: "Description of case study 3", link: "/case-studies/3" },
  // Add more case studies as needed
];
---

---
import Hero from '../components/automationagency/Hero.jsx';
import Features1 from '../components/automationagency/Features1.jsx';
import Features2 from '../components/automationagency/Features2.jsx';
import Testimonials from '../components/automationagency/Testimonials.jsx';
---

<html>
  <body class="bg-gray-100">
    <Hero />
    <Features1 />
    <Features2 />
    <Testimonials />
  </body>
</html>
